DEBUG=True
SECRET_KEY=troque-esta-chave-por-uma-chave-grande-e-unica
ALLOWED_HOSTS=127.0.0.1,localhost,IP_DA_MAQUINA_DA_CLINICA
CSRF_TRUSTED_ORIGINS=http://IP_DA_MAQUINA_DA_CLINICA:8000
DB_ENGINE=postgres
POSTGRES_DB=lume
POSTGRES_USER=lume
POSTGRES_PASSWORD=troque-esta-senha-do-banco
POSTGRES_HOST=db
POSTGRES_PORT=5432
LUME_SEED_DEMO=True
LUME_MAINTENANCE_USER_ENABLED=True
LUME_MAINTENANCE_USERNAME=root
LUME_MAINTENANCE_PASSWORD=troque-esta-senha-root
LUME_MAINTENANCE_ROTATE_PASSWORD=False
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=Lume Gestao <nao-responda@seudominio.com.br>
EMAIL_HOST=smtp.seudominio.com.br
EMAIL_PORT=587
EMAIL_HOST_USER=nao-responda@seudominio.com.br
EMAIL_HOST_PASSWORD=troque-esta-senha-do-email
EMAIL_USE_TLS=True
EMAIL_TIMEOUT=15
GOOGLE_CALENDAR_CLIENT_ID=cole-o-client-id-google
GOOGLE_CALENDAR_CLIENT_SECRET=cole-o-client-secret-google
GOOGLE_CALENDAR_TIMEOUT=15
WHATSAPP_PROVIDER=meta
WHATSAPP_DRY_RUN=True
WHATSAPP_META_API_VERSION=v23.0
WHATSAPP_META_ACCESS_TOKEN=cole-o-token-da-meta
WHATSAPP_META_PHONE_NUMBER_ID=cole-o-phone-number-id
WHATSAPP_TIMEOUT=15
