ENVIRONMENT=production
DEBUG=False
LUME_STRICT_PRODUCTION=True
SECRET_KEY=troque-por-uma-chave-aleatoria-com-mais-de-50-caracteres
ALLOWED_HOSTS=lume.seudominio.com.br
CSRF_TRUSTED_ORIGINS=https://lume.seudominio.com.br

DB_ENGINE=postgres
POSTGRES_DB=lume
POSTGRES_USER=lume
POSTGRES_PASSWORD=troque-por-uma-senha-forte-do-postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=False

REST_ENABLE_BASIC_AUTH=False
REST_ENABLE_TOKEN_AUTH=True
REST_ENABLE_THROTTLING=True
REST_ANON_THROTTLE_RATE=30/min
REST_USER_THROTTLE_RATE=1000/hour

LUME_SEED_DEMO=False
LUME_MAINTENANCE_USER_ENABLED=False
LUME_MAINTENANCE_USERNAME=root
LUME_MAINTENANCE_PASSWORD=
LUME_MAINTENANCE_ROTATE_PASSWORD=False
LUME_RUN_MIGRATIONS_ON_START=False
LUME_GUNICORN_WORKERS=3
LUME_GUNICORN_TIMEOUT=120
LUME_JOB_INTERVAL_SECONDS=60
LUME_QUEUE_BATCH_SIZE=50

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=Lume Gestao <nao-responda@seudominio.com.br>
EMAIL_HOST=smtp.seudominio.com.br
EMAIL_PORT=587
EMAIL_HOST_USER=nao-responda@seudominio.com.br
EMAIL_HOST_PASSWORD=troque-esta-senha-do-email
EMAIL_USE_TLS=True
EMAIL_TIMEOUT=15

GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_TIMEOUT=15
GOOGLE_CALENDAR_SYNC_ENABLED=True

WHATSAPP_PROVIDER=meta
WHATSAPP_DRY_RUN=True
WHATSAPP_META_API_VERSION=v23.0
WHATSAPP_META_ACCESS_TOKEN=
WHATSAPP_META_PHONE_NUMBER_ID=
WHATSAPP_TIMEOUT=15
