DEBUG=True
SECRET_KEY=troque-esta-chave-por-uma-chave-grande-e-unica
ALLOWED_HOSTS=127.0.0.1,localhost,IP_DA_MAQUINA_DA_CLINICA
CSRF_TRUSTED_ORIGINS=http://IP_DA_MAQUINA_DA_CLINICA:8000
DB_ENGINE=postgres
POSTGRES_DB=lume
POSTGRES_USER=lume
POSTGRES_PASSWORD=troque-esta-senha-do-banco
POSTGRES_HOST=db
POSTGRES_PORT=5432
LUME_SEED_DEMO=True
