asgiref==3.11.1
Django==5.2.15
django-filter==25.2
djangorestframework==3.17.1
gunicorn==23.0.0
openpyxl==3.1.5
Pillow==12.2.0
psycopg[binary]==3.2.13
qrcode==8.2
reportlab==4.4.5
python-decouple==3.8
sqlparse==0.5.5
tzdata==2026.2
waitress==3.0.2
whitenoise==6.11.0
